body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    padding: 0;
}
.navbar {
    list-style-type: none;
    background-color: rgb(254, 253, 253);
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 350px 0 0 10px;
    z-index: 2;
}
.navbar li {
    width: 100%;
}
.navbar a {
    color: white;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: width 0.4s ease, background-color 0.4s ease;
    overflow: hidden;
    border-radius: 16px;
    padding-left: 12px;
    box-sizing: border-box;
}
.navbar a:hover {
    width: 200px;
    background-color: #111;
}
.navbar i {
    font-size: 26px;
    z-index: 2;
}
.navbar a span {
    opacity: 0;
    white-space: nowrap;
    margin-left: 12px;
    transition: opacity 0.4s ease;
    z-index:2;
}
.navbar a:hover span {
    opacity: 1;
}
.navbar a::before {
    content: "";
    position: absolute;
    top: -18px;
    left: -18px;
    width: calc(100% + 36px);
    height: calc(100% + 36px);
    border-radius: 24px;
    background: linear-gradient(
        45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    background-size: 600%;
    filter: blur(18px);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;
}
.navbar a:hover::before {
    animation: glowing 8s linear infinite;
    opacity: 1;
}
.btn {
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 16px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.navbar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 200%;
    background: #FF0000;
    top: 0px;
    bottom: 0%;
    translate: -50% -50%;
    z-index: -1;
    
}